@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none
}

body {
    color:white;
    background: #021515;
}
.goose-bg {
    background: url('/img/duck.png');
    width: 20px;
    height: 20px;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; 
}
.img-fluid {
    max-width: 700px;
    height: auto;
    position: relative;
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slider-btn-l {
    top: 50%;
    left: 23%;
    position: absolute;
}
.slider-btn-r {
    top: 50%;
    right: 23%;
    position: absolute;
}
.arrow {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.arrow:hover {
    width: 150px;
    height: 150px;
    transition: ease 1s;
    border-bottom: 3px solid orange;
}
.goose {
    transform: scale(-1, 1)
}
.text-desc{
    display: none;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.text-desc.active {
    display: block;
}
.descrtion-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background: orange;
    width: 25%;
    margin: 0 auto;
    border-radius: 20px;

}

.duck {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.4s;
}

.duck:hover, :focus {
    width: 30%;
}

.hide {
    display: none;
}
.show {
    display: block;
}
